body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

.bg {
  background: #875080;
}

.baner {
  text-align: center;
}

.row {
  display: flex;
  height: 300px;
}

.left {
  background: #C2A6BF;
  width: 75%;
}

.right {
  background: #A1759C;
  width: 25%;
}

.footer {
  text-align: right;
}