body {
    background-color: #D8D8D8;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
}

.header-left {
    font-size: 60px;
    width: 66%;
}

.header-right {
    font-size: 20px;
    padding: 30px 0 30px 20px;
    width: 33%;
}

.col {
    width: 23%;
    display: flex;
    padding: 20px;
}

.gap {
    width: 10%;
}

.border-bottom {
    border-bottom: 2px solid grey;
}

.border-left {
    border-left: 2px solid grey;
}

img {
    float: left;
    width: 70px;
    height: 70px;
}

.img {
    width: 30%;
    margin-right: 15px;
}

.title {
    font-size: 20px;
}

.description {
    color: #2d7eff;
}

.text {
    width: 70%;
}

.footer-left {
    width: 40%;
    padding-left: 25px;
}

.footer-right {
    width: 30%;
    padding: 0 20px 0 20px;
    margin-left: 30%;
}

.description > p {
    color: black;
    text-decoration: underline;
}